*{
    background-color: rgb(59, 59, 59);
}

.one{
    color:lightblue;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.two{
    margin-left: 10px;
    width: 400px;
    height: 25px;
    border-radius: 20px;
    margin-top: 10px;
}

.three{
  margin-left: 1200px;
  cursor: pointer;
}

.four{
   cursor: pointer;
   margin-left: 1000px;  
}
.five{
   color: lightblue;
   text-align: center;
   margin-top: 170px;
   font-style: sans-serif;
   
}

.six{
    /* margin-left: 36.2%; */
    width: 400px;
    height: 25px;
    border-radius: 20px;
    background-color: white;
    align-items: center;
    display: block;
}

/* .shortcut {
  background-color: #303134;
  padding: 15px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #e8eaed;
  cursor: pointer;
} */

.nine {
  cursor: pointer;
  color: white;
  /* margin-left: 36%; */
  margin-top: 2%;
  font-size: large;
  
}
